* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background: #f4f4f4;
}
::-webkit-scrollbar-thumb {
  background: rgb(22, 22, 22);
}
